body {
  margin: 1;
  padding: 0;
  font-family: sans-serif; }

.header {
  background-color: #223;
  height: 80vh;
  min-height: 500px;
  overflow: hidden; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.ruling-box-home {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.ruling-box {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: #ccc;
  margin-bottom: 20px;
  height: 400px;
  width: 49%; }

.be-counted {
  display: block;
  width: 100%;
  background-color: #ebebeb; }
